{minimum_otp_vsn, "19.3"}.

{erl_opts, [
    debug_info,
    warn_export_all,
    warn_export_vars,
    warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_import,
    warnings_as_errors
]}.

{deps, [
    {'gpb', "~> 4.0"}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.
