{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, { sample_release, "0.1.0" },
         [sample_release,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{plugins, [
  {rebar3_gpb_plugin, "1.10.0"} % Good practice to specify which version to use
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
